<div class="navbar-header visible-xs">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>
    <a href="http://www.ShreeVenkat.co.uk" class="navbar-brand"><span class="glyphicon glyphicon-home"></span></a>
</div>
<div class="collapse navbar-collapse">

    <ul class="nav navbar-nav">
        <li class="hidden-xs"><a href="http://www.ShreeVenkat.co.uk/" class="navbar-normal" style="font-weight: bold">Home</a></li>
        <li><a href="http://www.ShreeVenkat.co.uk/#/profile/cv" class="navbar-normal">CV</a></li>
        <li><a href="http://www.ShreeVenkat.co.uk/#/dropbox-google-drive-simulation" class="navbar-normal">Dropbox/GDrive</a></li>
        <li><a href="http://www.ShreeVenkat.co.uk/#/retail-product-list" class="navbar-normal">Retail Shopping</a></li>
        <li><a href="http://www.ShreeVenkat.co.uk/#/code-pen-js-fiddle-simulation" class="navbar-normal">CodePen/JSFiddle</a></li>
        @*<li class="dropdown">
            <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">Retail Demo <b class="caret"></b></a>
            <ul class="dropdown-menu" role="menu">
                <li><a href="http://demo.guruin.net/#/guru-ecommerce">eCommerce</a></li>
                <li><a href="http://demo.guruin.net/#/guru-dashboard">Dashboard</a></li>
            </ul>
        </li>*@
        <li><a href="http://Blog.ShreeVenkat.co.uk" class="navbar-normal">Blog Subdomain</a></li>
    </ul>

    @Html.Partial("_LoginPartial")
</div>
